{% extends('base.html.twig') %}

{% block body %}
    <style>
        th, td {
            padding: 10px;
        }
        th {
            text-align: right;
        }
        td{
            width: 100%;
        }
    </style>
    <h1>Create or Update Article:</h1>

    {#
    validation by route name
    {% if app.request.get('_route') == 'editArticle' %}
        <form id="status-bar">
            <button class="btn btn-primary btn-lg float-right">STATUS</button>
        </form>
        <br><br><br>
    {% endif %}
    #}

    {% if article is defined and article.id %}
        <form id="status-bar">
            <fieldset class="form-group">
                <legend>{{ form_label(form.status) }}:</legend>
                {{ form_widget(form.status) }}
                <br>
                <button class="btn btn-primary btn-lg float-right">Change</button>
            </fieldset>
        </form>
        <hr/>
    {% endif %}

    {{ form_start(form) }}
    {#    {{ form_start(form, {'action': path('editArticle', {"article":article.id}), 'method': 'POST'}) }}#}

    <table>
        <tbody>
        <tr>
            <th>Title:</th>
            <td>{{ form_widget(form.title) }}</td>
        </tr>
        <tr>
            <th>Author:</th>
            <td>{{ form_widget(form.author) }}</td>
        </tr>
        <tr>
            <th>Article Body:</th>
            <td>{{ form_widget(form.body) }}</td>
        </tr>
        <tr>
            <th>Homepage:</th>
            <td>{{ form_widget(form.url) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.category) }}:</th>
            <td>{{ form_widget(form.category) }}</td>
        </tr>
        <tr>
            <th></th>
            <td>{{ form_widget(form.save) }}</td>
        </tr>
        </tbody>
    </table>
    {#    {{ form_end(form) }}#}
    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
{% block javascripts %}
    {% if article is defined and article.id %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#status-bar button').on('click', function(){
                //alert({{ article.id }});
                var $statusForm = $('#status-bar');
                $.ajax({
                    type    : 'POST',
                    data    : $statusForm.serializeArray(),
                    url     : '{{ path('ajaxHandler', {'articleData':article.id}) }}',
                    dataType: 'json',
                    success : function(information){
                        //console.log(information);
                        window.location.href = information.url
                    }
                });
                return false; // prevent form reload
            });
        });
    </script>
    {% endif %}
{% endblock %}